/* ProductList.css */
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.cdnfonts.com/css/montserrat');

body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}


.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.product-list-title {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    font-family: 'Avenir';
}

.product-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
    max-width: 80%;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.product-card {
    flex-shrink: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(243, 241, 241, 0.1);
    text-align: center;
    margin: 0 10px;
    scroll-snap-align: center;
}

.product-container::-webkit-scrollbar {
    height: 8px;
}

.product-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.product-container::-webkit-scrollbar-thumb:hover {
    background-color: #fffcfc;
}



.product-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-title {
    font-size: 15px;
    margin: 10px 0;
    font-family: 'Montserrat';
    font-weight: 600;
}

.product-price {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Montserrat';
}

.product-colors {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
    font-family: 'Avenir';
}

.color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
    display: inline-block;
}

.color-circle.yellow {
    background-color: #E6CA97;
}

.color-circle.gray {
    background-color: #D9D9D9;
}

.color-circle.pink {
    background-color: #E1A4A9;
}

.color-circle.selected {
    border: 2px solid #000;
}

.product-metal {
    font-size: 0.9rem;
    margin-top: 10px;
    font-family: 'Montserrat';
}

.product-rating {
    margin-top: 10px;
    font-size: 20px;
    color: #E6CA97;
    font-family: 'Avenir';
}

.navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 90%;
    position: relative;
}

.nav-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
}

.nav-button:hover {
    background-color: #ffffff;
}